
/C#/Project Euler/Problem121-C#/_ReSharper.Problem121
/C#/Project Euler/Problem121-C#/Problem121/obj
/C#/Project Euler/Problem121-C#/Problem121/bin
/C#/Project Euler/Problem121-C#/packages
/C#/Project Euler/Problem112-C#/*.user
